/* ==========================================================================
responsive
========================================================================== */

div.wpcf7 .ajax-loader{
    display: block;
}

@media (min-width: 980px) and (max-width: 1400px) {
    .backnow-review-cont .text-center{
        transform: none;
        margin-left: 5px;
    }
    .wpneocf-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .common-menu .common-menu-wrap .nav>li>a {
        font-size: 12px;
        margin-left: 15px;
    }
    .common-menu-wrap .nav>li {
        margin-left: 15px;
    }
    .themeum-product-slider .slick-next{
        right: 0;
    }
    .themeum-product-slider .slick-prev{
        left: 0;
    }
    .themeum-campaign-item .camp-title{
        font-size: 16px;
        font-weight: 300;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {

    .wpneocf-container{
        max-width:750px
    }

    .admin-bar .header-borderimage #mobile-menu,
    .admin-bar .header-solid #mobile-menu {
        top: 100%;
    }
    .themeum-product-slider .slick-next{
        right: 0;
    }
    .themeum-product-slider .slick-prev{
        left: 0;
    }
    .themeum-tab-category{
        margin: 0 auto;
    }
    .navbar-collapse.collapse {
        display: none !important;
        overflow: hidden !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .visible-sm {
        display: block!important;
    }
    .navbar-collapse {
        padding-right: 0;
        padding-left: 0
    }
    #mobile-menu ul {
        padding: 0;
    }
    .header-borderimage #mobile-menu,
    .header-solid #mobile-menu {
        top: 100%;
    }
    .navbar-toggle {
        display: inline-block;
    }
}

@media only screen and (max-width: 992px) {

    .slider_content_wrapper br{
        display: none;
    }

    .wpneo-list-details .backnow-bio{
        width: 100%;
    }
    .wpneo-campaign-single-left-info{
        width: 100%;
        display: block;
        float: none;
    }
    .wpneo-campaign-summary{
        width: 100%;
        float: none;
        display: block;
    }
    .quantity_box .qwpneo_donate_button{
        margin-left: 0;
        margin-top: 5px;
        border-radius: 5px;
    }
    .quantity_box{
        padding: 20px;
    }
    input[type="number"].wpneo_donate_amount_field{
        display: block;
        widows: 100%;
        margin-right: 0;
        max-width: 100%;
        margin-top: 5px;
    }
    span.backnow-rewards{
        position: static;
        margin-top: 0;
        margin-bottom: 15px;
        display: block;
    }
    .wpneocf-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .mailchimp-inner{
        border-color: transparent;
    }
    .mchimp-newsletter{
        position: relative;
        z-index: 3;
    }
    .mc4wp-form-fields button{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .mc4wp-form-fields input[type="email"] {
        display: block;
        width: 100%;
        float: none;
    }
    .themeum-author-dsc{
        text-align: left;
    }
    .product-slide-img{
        max-width: 300px;
    }
    #wp-megamenu-primary>.wpmm-nav-wrap ul.wp-megamenu>li.wpmm_mega_menu>ul.wp-megamenu-sub-menu {
        width: 100%;
    }
    .themeum-campaign-item {
        width: 25% !important;
    }
    .navbar-collapse.collapse.show {
        display: block !important;
    }
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-toggle {
        display: inline-block;
        margin-top: 0;
        outline: none;
        right: 0;
        font-size: 15px;
        padding-left: 15px;
    }
    .mobile-register {
        text-align: right;
    }
    .navbar-nav {
        float: none;
    }
    .navbar-nav>li {
        float: none;
    }
    /* Campaign */
    .wpneo-listings-dashboard .wpneo-listing-img {
        width: 35%;
    }
    .wpneo-listings-dashboard .wpneo-listing-content {
        width: 65%;
        padding: 20px 24px;
    }
    .backnow-tab-slider .elementor-tab-title {
        line-height: 22px !important;
    }
    .main-menu-wrap .navbar-toggle {
        color: #191919;
        transition: 400ms;
        -webkit-transition: 400ms;
    }
    .themeum-campaign-item a.themeum-campaign-icon {
        font-size: 25px;
    }
    .themeum-campaign-item a.themeum-campaign-img img{
        max-width: 30px;
    }
    .themeum-campaign-item .camp-title{
        font-size: 16px;
        font-weight: 300;
        margin-top: 10px;
    }
}

@media (max-width: 767px) {
    .themeum-campaign-tab-post .themeum-camp-author {
        margin-bottom: 20px;
    }
    .thm-fullscreen-search form{
        width: 70%;
    }
    .container-fluid.thm-wide-header{
        padding: 0 15px;
    }
    .modal .modal-header{
        padding: 35px 35px 0 35px;
    }
    .modal .modal-body{
        padding: 0 35px 35px 35px;
    }
    .backnow-info-img, .backnow-share{
        width: 100%;
    }
    .backnow-bio .backnow-follow-us.pull-right{
        float: none;
        padding-left: 10px;
    }
    .wpneo-list-details{
        margin-bottom: 0;
    }
    .mailchimp-inner{
        margin-bottom: 15px;
    }
    .bottom-wrap{
        padding-bottom: 0 !important;;
        padding-top: 30px !important;
    }

    .thm-explore::after{
        display: none;
    }
    .error-message-title{
        font-size: 90px;
    }
    .thm-single-post-content-inner{
        margin-bottom: 40px;
    }

    .jssocials-shares .jssocials-share a {
        width: 90px;
        line-height: 35px;
        font-size: 12px;
        font-weight: 300;
        margin-top: 8px;
    }
    .themeum-grid-post.single-post .themeum-post-grid-title .content-item-title{
        font-size: 35px;
        line-height: 1.2;
        margin-bottom: 0;
    }
    .themeum-product-slider .slick-next,
    .themeum-product-slider .slick-prev{
        top: auto;
        right: auto;
        left: 50%;
        bottom: 0;
        line-height: 35px;
        border-radius: 5px;
        height: 35px;
        margin: 0;
        padding: 0;
        margin-left: -55px;
        font-size: 15px;
        background-color: #f4f4f4;
    }

    .themeum-product-slider .slick-next{
        margin-left: 5px;
    }
    .themeum-product-slider{
        padding-bottom: 65px;
    }

    .product-slide-title{
        font-size: 30px;
        line-height: 1.2;
    }
    .product-slider-items .themeum-camp-author{
        padding-bottom: 30px;
    }
    .product-slider-items .thm-progress-bar{
        margin-right: 0;
    }
    .product-slider-items .themeum-camp-author{
        padding-right: 0;
    }
    .col-8 .backnow-login-register ul::before{
        content: none;
    }
    .backnow-login-register a.backnow-dashboard{
        font-size: 11px;
    }
    .themeum-campaign-item {
        width: 25% !important;
    }
    /*slider*/
    .classic-slider.layout1 .classic-slider-subtitle {
        line-height: 120px;
    }
    #mobile-menu ul {
        padding: 0;
    }
    .header-borderimage #mobile-menu,
    .header-solid #mobile-menu {
        top: 100%;
    }
    .backnow-post .post-featured-img {
        width: 100%;
    }
    .themeum-campaign-post .review-item-image img {
        width: 100%;
    }
    .entry-summary .wrap-btn-style a.btn-style {
        float: none;
    }
    .social-share-wrap {
        text-align: left;
    }
    .bottom-widget h3 {
        margin-bottom: 25px;
    }
    .bottom-widget {
        width: 100%;
    }
    .mc4wp-form-fields input[type="email"] {
        display: block;
        width: 100%;
        float: none;
    }
    .mc4wp-form-fields input[type=submit] {
        display: inline-block;
        margin-left: 0;
        border-radius: 4px;
    }
    .top-search-input-wrap .search-wrap .search.backnow-top-search {
        width: 70%;
        min-width: 200px;
    }
    .themeum-google-map-wrap .map-address {
        padding: 30px 35px;
        top: 18%;
        left: 8%;
    }
    .bottom-widget {
        width: 100%;
    }
    .demo-four .mc4wp-form-fields input[type="email"] {
        margin-right: 20px;
    }
    #tixon-comingsoon {
        padding-left: 15px;
        padding-top: 50px;
    }
    .comingsoon-content .comingsoon-title {
        font-size: 48px;
        line-height: 48px;
    }
    .comingsoon-footer .social-share {
        text-align: left;
    }
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        width: 47% !important;
        margin-bottom: 25px;
    }
    /* Campaign Categories */
    .elementor-widget-thm-campaign-dynamic .col-3 {
        -ms-flex: 0 0 25%;
        -webkit-box-flex: inherit;
        flex: inherit;
        max-width: 50%;
        display: inline-block;
        overflow: hidden;
        width: 50%;
    }
    /* Popular Campaigns */
    .elementor-widget-container .col-4 {
        -webkit-box-flex: 0;
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
    .textwidget .mc4wp-form-fields .send-arrow input[type="email"] {
        display: inline-block;
    }
    .backnow-contact {
        padding: 80px 14px;
    }
    .backnow-contact .col-md-4 {
        padding-bottom: 14px;
    }
    .backnow-contact textarea {
        margin-top: 0;
    }
    .countdown-section {
        width: 165px;
        height: 130px;
        margin-bottom: 28px;
    }
    .comingsoon-content {
        padding: 0;
    }
    section.comingsoonpage-footer {
        padding: 85px 20px;
    }
    .comingsoonpage-footer .mc4wp-form-fields input[type="email"] {
        display: inline-block;
        width: 84%;
        height: 40px;
        float: none;
    }
    .comingsoonpage-footer .social-share ul {
        text-align: center;
    }
    .elementor-shape-rounded .elementor-icon.elementor-social-icon {
        margin-bottom: 5px !important;
    }
    #sidebar.col-3 {
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        padding: 0 20px;
    }
    /* Shop Page */
    .wpneo-campaign-single-left-info,
    .wpneo-campaign-summary,
    .tab-campaign-story-left,
    .tab-campaign-story-right {
        width: 100%;
        padding: 20px;
    }
    .wpneo-tabs {
        margin-top: 50px;
        padding: 20px;
    }
    .wpneo-tab .tab_col_9,
    .wpneo-tab .tab_col_3 {
        width: 100%;
        float: left;
    }
    .wpneo-tabs-menu li {
        padding: 12px 0;
        margin-right: 0;
        margin-bottom: 14px;
        float: none;
        margin-bottom: 5px;
    }
    .wpneo-tabs-menu li a {
        font-size: 14px;
    }
    .wpneo-listings-dashboard .wpneo-listing-img {
        width: 100%;
        float: left;
    }
    .wpneo-listings-dashboard .wpneo-listing-content {
        width: 100%;
    }
    .wpneo-form {
        overflow-x: scroll;
    }
    table.stripe-table {
        table-layout: inherit;
    }
    .backnow-tab-slider .elementor-tab-mobile-title {
        padding: 20px 11px !important;
        line-height: 10px !important;
    }
    .backnow-tabslider-title {
        display: none;
    }
    .backnow-tab-slider .elementor-tab-content {
        padding-bottom: 40px !important;
        padding-left: 35px !important;
    }
    .themeum-product-slider .slick-next,
    .themeum-product-slider .slick-prev {
        background: #dedede;
        color: rgba(0, 0, 0, 0.34);
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: none;
        margin: 0;
    }
    .navbar-nav>li {
        float: none;
    }
    .backnow-contact {
        padding: 52px;
    }
}

@media (max-width: 600px){
    .backnow-review-cont span.thm-Price-amount:first-child{
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }
    .backnow-review-cont .text-center{
        transform: none;
    }
    .bg-mobile-none{
        background: none !important;
    }
    .themeum-campaign-item {
        width: 50% !important;
        height: auto !important;
    }
    .themeum-campaign-item .themeum-campaign-wrapper{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .themeum-campaign-time-exp .themeum-campaign-thumb{
        position: static;
        width: 100%;
        height: 200px;
    }
    .themeum-campaign-time-exp{
        padding-left: 0;
    }
    .comment-body .comment-context .comment-reply{
        position: static;
    }
}

@media (max-width: 400px){
    .themeum-campaign-item {
        width: 100% !important;
        height: auto !important;
    }
}
@media (max-width: 489px) {
    .thm-fullscreen-search form{
        width: 85%;
    }
    .thm-fullscreen-search form input[type="text"]{
        font-size: 20px;
    }
    .themeum-grid-post.single-post .themeum-post-grid-title .content-item-title{
        font-size: 26px;
        line-height: 1.2;
        margin-bottom: 0;
    }
    .themeum-campaign-exp-counter .counter-item{
        padding: 0 15px;
    }
    .themeum-campaign-item>div {
        padding: 30px 0;
    }
    .title-number-wrap {
        padding-left: 0;
    }
    .social-share,
    .copy-wrapper {
        margin-bottom: 15px;
        text-align: center;
    }
    .social-share,
    .copy-wrapper {
        padding-top: 8px;
        text-align: center !important;
    }
    .copy-wrapper span{
        display: block;
        margin-top: 5px;
    }
    .classic-slider.layout2 .classic-slider-subtitle {
        font-size: 60px;
    }
    .woocommerce ul.products li.product .star-rating {
        margin-top: 5px;
    }
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        width: 100% !important;
    }
    /* Popular Campaigns */
    .elementor-widget-container .col-4 {
        -webkit-box-flex: 0;
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .bottom-widget .textwidget .mc4wp-form-fields .send-arrow input[type="email"] {
        display: inline-block;
    }
    .woocommerce .woocommerce-ordering,
    .woocommerce .woocommerce-result-count {
        float: none;
    }
    #wpneo-dashboard-form .wpneo-name {
        width: 32%;
        margin-top: 4px;
        font-size: 14px;
    }
    #wpneo-dashboard-form .wpneo-fields {
        width: 68%;
    }
}
